body
{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #a683e3;
}

.item1
{
    padding-top: 20px;
    padding-left: 5%;
}
.item2
{
    float: right;
    width: 80vw;
    height: 100vh;
    background-color: #e4e9fd;

}
.links
{
   text-decoration: none;
   color: white;
   font-size: 2rem;
}
