<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>title bar</title>
    <link rel="stylesheet" href="css/sam/tlogin.css">
</head>

<body>
    <div class="container">
        <div class="login">
            <div class="box">    
                <form action="" method="post">
                    <input type="text" placeholder="Full Name" name="name" class="input" required>
                    <input type="text" placeholder="Subject" name="subject" class="input" required>
                    <input type="text" placeholder="Organization" name="org" class="input" required>
                    <input type="text" placeholder="Contact Number" name="contact" class="input" required>
                    <input type="email" placeholder="Email" name="email" class="input" required>
                    <input type="password" placeholder="Password" name="password" class="input" required>
                    <input type="password" placeholder="Re-type Password" name="repassword" class="input" required>
                    <input type="submit" name="submit" class="btn" value="Sign In">
                </form>
            </div>
        </div>
        <div class="aside">
            <div class="aside-box">
                <p>New User</p>
            </div>
        </div>
    </div>
</body>

</html>