<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/isha/assignment.css">
    <script src="https://kit.fontawesome.com/42d50a4c3d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="item1">
            <div class="profile">
                <i class="fa-solid fa-circle-user fa-5x"></i><br><br><br>
                <span class="user">sambhav jain</span>
            </div>
            <a class="links" href=""><i class="fa-solid fa-pen"></i>   teams</a><br><br><br>
            <a class="links" href="test.html"><i class="fa-solid fa-pen"></i>   create test</a><br><br><br>
            <a class="links"  href=""><i class="fa-solid fa-pen"></i>   Create assignment</a>
        </div>
        <div class="item2">
            <div class="innerBox">
                <form action="/admin/viewresult" method="post" class="form-viewresult">
                    <input type="text" name="testid" id="testid" class="input-viewresult" placeholder="Enter Test Id">
                    <input type="submit" class="btn-viewresult" value="view result">
                    <p id="warning-text"><%=warningtext%></p>
                </form>      
            </div>
        </div>
    </div>
</body>
</html>
