<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/sam/testuserinfo.css">
</head>

<body>
    <div class="grid">
        <div class="container">
            <form action="/testplatform" method="post">
                <input type="text" name="testid" placeholder="Enter Test ID" class="input-text" autocomplete="off">
                <input type="submit" class="input-submit" value="Start Test">
            </form>

        </div>
        <div class="aside">
            <img src="images/testuserinfo.jpg" alt="" class="image" >
        </div>
    </div>
</body>

</html>