<%- include("partials/header") -%>
        <div class="block">
            <div class="sub-block">
                <h3><%= teamName %></h3>
                <div class="cont">
                    <div class="contain">
                        <span>Attendance: 50%</span><br><br><br>
                        <span>Tests completed: 10</span>
                    </div>
                    <div class="rightDiv contain">
                        <span>Assignments completed: 40</span><br><br><br>
                        <span>Assignments Pending: 4</span>
                    </div>
                </div>

            </div> <br>
            <div class="sub-block">
                <h4>SCHEDULE</h4><hr>
                <div class="week">
                    <span class="days" style="margin-left: 3vw;">Monday</span>
                    <span class="days" style="text-decoration: underline; text-decoration-color: rgb(108, 176, 244);">Tuesday</span>
                    <span class="days">Wednesday</span>
                    <span class="days">Thursday</span>
                    <span class="days">Friday</span>
                    <span class="days">Saturday</span>
                </div>
                <h4 class="class">No Classes</h4>
            </div>
        </div >
        <div class="sidebar">
            <div class="sidebar-item"><i class="fa-solid fa-list"></i>   Overview</div>
            <div class="sidebar-item"><i class="fa-solid fa-clipboard-user"></i>   attendance</div>
            <div class="sidebar-item"><i class="fa-solid fa-pen"></i>   assignments</div>
            <div class="sidebar-item"><i class="fa-solid fa-bell"></i>   announcements</li></div>
            <div class="sidebar-item"><i class="fa-solid fa-file"></i>   tests</div>
            <div class="sidebar-item"><i class="fa-solid fa-book"></i>   study material</div>
        </div>
  <%- include("partials/footer") -%>
