<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/42d50a4c3d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/chats.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <nav>
            <div class="Container">
                <div class="Nav-item">
                    <a href="">Batches</a>
                </div>
                <div class="Nav-item">
                    <a href="">Time Table</a>
                </div>
                <div class="Nav-item">
                    <a href="">Reports</a>
                </div>
                <div class="Nav-item">
                    <a href="">Chat</a>
                </div>
                <div class="Nav-item logo">
                    <button class="dropbtn" href=""><span class="icon"><%= firstLetter %></span><%= name %></button>
                </div>
            </div>
        </nav>
        <div id="myP">
            <ul>
                <li>
                    Profile
                </li>
                <li>
                    logout
                </li>
            </ul>
        </div>
    </header>
    <div class="left">
      <div class="writechat">Chats</div>

      <div class="search">
        <input type="text" placeholder="Search By Name Or Number" name="search" class="search1" />
      </div>

      <div class="writemessage">Message</div>
      <div class="messages">



        <div class="messageblock">
            <div class="profile">A
            </div>

            <div class="other">
                <div class="name">Aman Singh
                </div>

                <div class="message">Sambhav : Hello ! Mera 200 rupee maiii tmhe de dunga

                </div>
            </div>
        </div>

        <div class="messageblock">
            <div class="profile">I
            </div>

            <div class="other">
                <div class="name">Isha
                </div>

                <div class="message">Aman : Timepass Going On........

                </div>
            </div>
        </div>

        <div class="messageblock">
            <div class="profile">A
            </div>

            <div class="other">
                <div class="name">Arpita

                </div>

                <div class="message">Arpita : Shaadi Me Hoon
                </div>
            </div>
        </div>

        <div class="messageblock">
            <div class="profile">S
            </div>

            <div class="other">
                <div class="name">Sahil

                </div>

                <div class="message">Sahil : Denk Bnna h vro

                </div>
            </div>
        </div>

        <div class="messageblock">
            <div class="profile">A
            </div>

            <div class="other">
                <div class="name">Aryan

                </div>

                <div class="message">Aryan : Gedi Maarne Jaa rha

                </div>
            </div>
        </div>

        <div class="messageblock">
            <div class="profile">A
            </div>

            <div class="other">
                <div class="name">Aditya

                </div>

                <div class="message">Aditya : Coding Kr rha vro

                </div>
            </div>
        </div>

        <div class="messageblock">
            <div class="profile">A
            </div>

            <div class="other">
                <div class="name">Akhil

                </div>

                <div class="message">Akhil : Movie dekhte h
                </div>
            </div>
        </div>

      </div>

    </div>

    <div class="right">
        <div class="imgf">📝</div>

        <div class="text">No Conversation Selected</div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/javascripts/navbutton.js" charset="utf-8"></script>
</html>
