body
{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #a683e3;
}

.item1
{
    padding-top: 20px;
    padding-top: 20px;
    padding-left: 2%;
}
.item2
{
    float: right;
    width: 80vw;
    height: 100vh;
    background-color: #e4e9fd;

}
.links
{
   text-decoration: none;
   color: white;
   font-size: 2rem;
}

.profile
{
    color: #a683e3;
    width: 90%;
    height: 30%;
    background-color: white;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px grey;
        box-shadow: 0 0 10px grey;
        border-radius: 1mm;
    text-align: center;
    padding: 10px;
}

.user
{
    font-size: 2rem;
}

.teamsicn
{
    display: block;
    margin: 5%;
    margin-top: 3%;
    width: 90%;
    height: 90%;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #a683e3;
        box-shadow: 0 0 10px #a683e3;
}

.teamNo
{
    font-size: 1.5rem;
    padding: 20px;
    display: inline-block;
    margin: 3%;
    width: 22%;
    height: 20%;
    background-color: rgba(164, 133, 218, 0.49);
    -webkit-box-shadow: 0 0 5px #6f25ef;
        box-shadow: 0 0 5px #6f25ef;
}

.btn
{
    color: #e4e9fd;
    border: none;
   background-color: #a683e3;
   display: block;
    width: 100%;
    height: 60%;
    -webkit-box-shadow: 0 0 10px white;
        box-shadow: 0 0 10px white;
        border-radius: 0.5mm;
    cursor: pointer;
    font-size: 3.5rem;
    text-decoration: none;
    text-align: center;
}

.btn:hover
{
    transform: scale(1.02);
}
.subName
{
   color: rgb(142, 62, 217);
}

.new
{
    float: right;
    margin: 5%;
    
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 3.5rem;
    background-color: #6f25ef;
    cursor: pointer;
    position: absolute;
    top: 500px;
    right: 50px;

}
.new a{
    color: white;
    text-decoration: none;
}
.new:hover
{
    transform: scale(1.2);
}
.scrolling{
    overflow-y: scroll;
}

/* ------------------------------------------------------------------------------------- */
.createteam-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-createteaem{
    display: block;
    padding: 20px 20px;
    margin: 20px;
}

.inupt-createtest{
    width: 50%;
    border: none;
    background-color: #e4e9fd;
    border-radius: 40px;
    font-size: 20px;
}

.btn-createtest{
    background-color: #a683e3;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}

.btn-createtest:hover{
    opacity: 0.8;
}


/* -------------------------------------------------------------------------------------------- */
.linkteam-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a683e3;
    margin: 30px;
    padding: 40px;
}

.linkteam-p{
    color: white;
    font-size: 20px;
}