.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D4F6C7;
    width: 30vw;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 10vh;
    margin-left: 6vw;
}

.btn{
    padding: 20px;
    border: none;
    background-color: #57df21;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}

.aside{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    margin-top: 10vh;
    height: 70vh;
}

.input-text{
    display: block;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin: 20px auto;
}
.input-submit{
    display: block;
    margin: 20px auto;
    background-color: #57df21;
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
}
.input-submit:hover{
    opacity: 0.6;

}